<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
</head>
<body>
  <div id="sidebar">
    <h1>FNSB Energy Burden Estimator</h1>
    <hr>
    <h2>About</h2>
    <p>This tool estimates the average annual household energy costs as a share of total household income in the Fairbanks North Star Borough (FNSB) based on energy prices and census data.</p>
    <h2>Instructions</h2>
    <p>Use the sliders or input boxes to adjust the prices of various heating fuels. The default prices are from the original study conducted in 2024 (see methodology below). The form will calculate the weighted average space heating and electricity costs based on the inputs provided. The results will be displayed below the form.</p>
    <p>The calculations will then update the <strong>estimated energy burden</strong> in each census tract and then display it on the map.</p>
    <hr>
    <form id="price-form">
      <div class="input-group">
        <label for="hfo_price">Heating Fuel Oil Price ($/gallon)</label>
        <div class="subtitle">Efficiency: 85% | Market Share: 73%</div>
        <div class="controls">
          <input type="range" id="hfo_price" min="0" max="10" step="0.01">
          <input type="number" id="hfo_input" min="0" max="10" step="0.01">
        </div>
      </div>

      <div class="input-group">
        <label for="cord_wood_price">Cord Wood Price ($/cord)</label>
        <div class="subtitle">Efficiency: 70% | Market Share: 23.5%</div>
        <div class="controls">
          <input type="range" id="cord_wood_price" min="0" max="600" step="0.01">
          <input type="number" id="cord_wood_input" min="0" max="600" step="0.01">
        </div>
      </div>

      <div class="input-group">
        <label for="pellet_price">Pellet Price ($/ton)</label>
        <div class="subtitle">Efficiency: 85% | Market Share: 0.9%</div>
        <div class="controls">
          <input type="range" id="pellet_price" min="0" max="600" step="0.01">
          <input type="number" id="pellet_input" min="0" max="600" step="0.01">
        </div>
      </div>

      <div class="input-group">
        <label for="natural_gas_price">Natural Gas Price ($/CCF)</label>
        <div class="subtitle">Efficiency: 85% | Market Share: 0.6%</div>
        <div class="controls">
          <input type="range" id="natural_gas_price" min="0" max="5" step="0.01">
          <input type="number" id="natural_gas_input" min="0" max="5" step="0.01">
        </div>
      </div>

      <div class="input-group">
        <label for="coal_price">Coal Price ($/ton)</label>
        <div class="subtitle">Efficiency: 55% | Market Share: 0.5%</div>
        <div class="controls">
          <input type="range" id="coal_price" min="0" max="400" step="0.01">
          <input type="number" id="coal_input" min="0" max="400" step="0.01">
        </div>
      </div>

      <div class="input-group">
        <label for="district_heat_price">District Heat Price ($/1,000 lbs)</label>
        <div class="subtitle">Efficiency: 100% | Market Share: 1.6%</div>
        <div class="controls">
          <input type="range" id="district_heat_price" min="0" max="50" step="0.01">
          <input type="number" id="district_heat_input" min="0" max="50" step="0.01">
        </div>
      </div>

      <div class="input-group">
        <label for="electricity_price">Electricity Price ($/kWh)</label>
        <div class="subtitle">Used for comparison or future estimates</div>
        <div class="controls">
          <input type="range" id="electricity_price" min="0" max="1" step="0.01">
          <input type="number" id="electricity_input" min="0" max="1" step="0.01">
        </div>
      </div>

      <button type="button" id="reset-button">Reset to Defaults</button>
      <button type="submit">Calculate</button>
    </form>

    <h2>Result</h2>
    <p>Weighted Average Space Heating Cost: <span id="result">$–</span> per MMBtu (useful)</p>
    <p>Average Electricity Cost: <span id="electricity_result">$–</span> per MMBtu</p>
    <hr>
    <h3>Additional Resources</h3>
    <h4>Methodology</h4>
    <p>The methodology used to estimate the required heating and electricity loads of single and multifamily buildings in the borough can be seen in the following UAF ACEP Report: <a href="https://doi.org/10.5281/zenodo.12575186" target="_blank">Kaczmarski, J., Pride, D., &amp; Trochim, E. (2024). Spatial Energy Burden Analysis of the Fairbanks North Star Borough (1.0.0). Zenodo.</a></p>
    <h4>Feedback</h4>
    <p>We welcome your feedback! If there are any issues with the calculator or you have suggestions, please <a href="https://github.com/acep-uaf/energy-cost-burden-site/issues/new" target="_blank">submit an issue on GitHub</a>.</p>
    <hr>
    <h3>Funding</h3>
    <p>Funding for this project was provided by the U.S. Department of Defense Office of Local Defense Community Cooperation Award No. GR1538-25-04.</p>
    <h3>Notice of Nondiscrimination</h3>
    <p>The University of Alaska is an equal opportunity/equal access employer and educational institution. The university is committed to a policy of nondiscrimination against individuals on the basis of any legally protected status.</p>
  </div>
  <div id="map"></div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="{{ "js/script.js" | absURL }}"></script>
</body>
</html>
